.recommendationTiles {
  padding-top: 1vh;
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 2vh;
}

.formBox {
  display: flex;
  flex-direction: column;
  row-gap: 1.5vh;
}

.formBox label {
  color: #c0b7c1;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: larger;
}

.Ootd {
  display: flex;
  justify-content: center;
  width: 30vw;
}
.imgDiv {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  justify-self: center;
}

.OotdTile {
  width: 25vw;
  border-radius: 2vh;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

.OotdTile:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.OotdTile img {
  object-fit: contain;
  width: 100%;
}

.tileDesc {
  display: flex;
  justify-content: center;
  padding: 1vh;
  color: white;
  text-align: center;
  margin-top: 15px;
  height: auto;
  background-color: #d786d2d8;
  border-radius: 15px;
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 30vw;
  justify-content: center;
}

.modalButton {
  display: flex;
  justify-content: center;
  padding: 1vh;
  gap: 2vh;
}

.modalButton button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5vh;
  align-content: space-between;
  align-items: center;
  border-radius: 5vh;
  text-transform: uppercase;
  width: 20vh;
  background-color: white;
  border: 1px solid #ccc;
  color: #58315cd8;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

button:hover {
  background-color: #ee6aecaf;
  border-color: #aaa;
  color: #fefefe;
}

.generateButton:hover {
  background-color: #ee6aecc2;
  border-color: #aaa;
  color: #fefefe;
}

.ootdSubtitle {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  color: #28002c;
  padding: 25px;
}

.generateButton {
  margin-top: -150px;
  margin-bottom: 100px;
  background-color: white;
  border: 1px solid #ccc;
}

.imgDivContainer {
  width: auto;
  border-radius: 2vh;
  padding: 1.5vh;
}

@media screen and (max-width: 1500px) {
  .ootdSubtitle {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 5vw;
    color: #28002c;
    padding: 25px;
  }
  .recommendationTiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  .OotdTile {
    width: 40vw;
  }

  .tileDesc {
    width: min(65vw, 512px);
    margin-bottom: 3vh;
  }

  .imgDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
  }

  .imgDivContainer {
    width: 45vw;
    height: auto;
    border-radius: 2vh;
    padding: 1vh;
  }
}
